/* ABOUTME: Player card component styles */
/* ABOUTME: Score cards with avatar, name, and score display */

.player-card {
  width: 141px;
  height: 160px;
  background-color: var(--color-neutral-0);
  border: 3px solid var(--color-neutral-950);
  border-radius: var(--radius-20);
  box-shadow: 0px 10px 0px 0px var(--color-neutral-950);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-200);
  padding-top: var(--spacing-500);
  position: relative;
  margin-top: 100px;
}

.player-card__avatar {
  position: absolute;
  width: 54px;
  height: 59px;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.player-card__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.player-card__name {
  font-size: var(--text-preset-3-size);
  font-weight: var(--text-preset-3-weight);
  line-height: var(--text-preset-3-line-height);
  text-transform: uppercase;
}

.player-card__score {
  font-size: var(--text-preset-1-size);
  font-weight: var(--text-preset-1-weight);
  line-height: var(--text-preset-1-line-height);
}
